<!--==================== HEADER ====================-->
<style>
    .nav{
        max-width: 90% !important;
    }
</style>
<header class="header" id="header">
    <nav class="nav container">
        <a href="{% url 'mainapp:index' %}" class="nav__logo">
            <i class='bx bxs-watch nav__logo-icon'></i> TIME&nbspCRAFT
        </a>
        <div class="nav__search" id="nav-search">
            <form action="{% url 'mainapp:search_results' %}" method="GET" class="nav__search-form">
                <div class="input-group">
                    <!-- Image search on the left -->
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#imageSearchModal">
                        <i class='bx bx-camera'></i>
                    </button>
                    
                    <!-- Text search on the right -->
                    <input type="search" placeholder="Search here..." class="form-control" id="search-input" name="search">
                    <button type="submit" class="nav__search-button" id="search-button">
                        <i class='bx bx-search nav__search-icon' id="search-icon"></i>
                    </button>
                </div>
            </form>
        </div>
        
        <div class="nav__menu w-50" id="nav-menu">
            <div class="nav_bar">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="{% url 'watch_customizer:customize_watch' %}" class="nav__link">Customize Watch</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'vendorapp:home' %}" class="nav__link">Become a Seller</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'mainapp:cart' %}" class="nav__link"><i class='bx bx-shopping-bag' ></i> Cart</a>
                    </li>
                </ul>
            </div>

            <div class="nav__close" id="nav-close">
                <i class='bx bx-x' ></i>
            </div>
        </div>
        <div class="nav__btns">
            <div class="nav__signin">
                {% if user.is_authenticated %}
                    <div class="dropdown ">
                        <a class="dropdown-toggle " href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username|truncatechars:10 }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="{% url 'userapp:profile' %}"><i class='bx bx-user'></i> Profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'userapp:wishlist' %}"><i class='bx bx-heart'></i> Wishlist</a></li>
                            <li><a class="dropdown-item" href="{% url 'userapp:my_orders' %}"><i class='bx bx-folder' ></i> My Orders</a></li>
                            {% if user.role == 'vendor' %}  
                                <li><a class="dropdown-item" href="{% url 'vendorapp:index' %}"><i class='bx bx-user'></i> Seller Dashboard</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'mainapp:logout' %}"><i class='bx bx-log-out'></i> Logout</a></li>
                        </ul>
                    </div>              
                {% else %}
                    <a href="{% url 'mainapp:login' %}" class="nav__cred"> Login</a>
                {% endif %}         
            </div>

            <!-- Theme change button -->
            {% comment %} <div class="nav__signin">
                <i class='bx bx-moon change-theme' id="theme-button"></i>
            </div> {% endcomment %}

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-grid-alt' ></i>
            </div>
        </div>
    </nav>
</header>
<style>
    .nav {
        padding:0;
    }
    .nav__search{
        width: 80% !important;
    }
</style>