absl-py
asgiref
astunparse
attrs
certifi
cffi
chardet
charset-normalizer
colorama
coloredlogs
colormath
cryptography
defusedxml
Django
django-mongodb-engine
django-widget-tweaks
djangotoolbox
djongo
dnspython
et-xmlfile
flatbuffers
gast
google-pasta
grpcio
h5py
humanfriendly
idna
ImageHash
imageio
joblib
jsonschema
jsonschema-specifications
keras
Keras-Preprocessing
lazy_loader
libclang
llvmlite
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mongoengine
mpmath
namex
networkx
numba
numpy
oauthlib
onnxruntime
opencv-python-headless
openpyxl
opt-einsum
optree
packaging
pandas
pillow
platformdirs
pooch
protobuf
psycopg2-binary
pycparser
Pygments
PyJWT
PyMatting
pymongo
pyreadline3
python-dateutil
python-decouple
python3-openid
pytz
PyWavelets
referencing
rembg
reportlab
requests
requests-oauthlib
rich
rpds-py
scikit-image
scikit-learn
scipy
setuptools
six
social-auth-app-django
social-auth-core
sqlparse
stripe
sympy
tensorboard
tensorboard-data-server
tensorflow
termcolor
threadpoolctl
tifffile
tqdm
typing_extensions
tzdata
urllib3
webcolors
Werkzeug
wheel
wrapt
XlsxWriter
