# Web Framework
Django  # Using the latest version you have listed
django-widget-tweaks  # Added as per your mention, version not specified

# Database
dj_database_url
psycopg2-binary

# Image Processing
Pillow
ImageHash
opencv_python_headless
rembg

# Data Processing and Analysis
numpy
pandas
scipy
pytz
python_dateutil

# Machine Learning
scikit_learn
tensorflow

# File Handling
openpyxl
XlsxWriter

# PDF Generation
reportlab

# Authentication
social_auth_app_django
social_auth_core

# Payment Processing
stripe

# Utilities
python-dotenv
tqdm==4.66.5
webcolors==24.8.0

# WSGI Server
gunicorn
