{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="main">
    <section class="section">
        <div class="login-container">
            <h1 class="login-title">Password Reset</h1>
            <form class="login-form" method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="email" id="email" class="form-control" name="email" placeholder="" required>
                    <label for="email" class="form-label">Email:</label>
                </div>
                <button type="submit" class="login-button mb-2">Reset Password</button>
            </form> 
        </div>
    </section>
</main>
{% endblock content %}
