{% extends 'adminapp/base.html' %}

{% block title %}Products{% endblock %}

{% block admin_content %}
<div class="card border-0">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center"> 
            <h5 class="card-title mb-4">Products</h5>
            <a href="{% url 'adminapp:add_product' %}" class="btn btn-primary mb-3">Add New Product</a>
        </div>
        <table id="productTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Model Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Base Price</th>
                    <th>Stock Quantity</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        {% if product.primary_image %}
                            <img src = "{{ product.primary_image.url}}" class="" style="width:50px"/>
                        {% endif %}
                    </td>
                    <td>{{ product.model_name }}</td>
                    <td>{{ product.brand.brand_name }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.base_price }}</td>
                    <td>{{ product.available_stock }}</td>
                    <td>
                        <span class="badge {% if product.is_active %} text-bg-success {% else %} text-bg-danger {% endif %} ">{% if product.is_active %}Active{% else %}Inactive{% endif %}</span>
                    </td>
                    <td>
                        <a href="" class="btn btn-sm btn-primary">View</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#productTable').DataTable({
            "pageLength": 10,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            "dom": '<"row"<"col-sm-12 col-md-6"f><"col-sm-12 col-md-6"l>>' +
                   '<"row"<"col-sm-12"tr>>' +
                   '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            "language": {
                "search": "_INPUT_",
                "searchPlaceholder": "Search products..."
            }
        });
        $('.dataTables_filter').css('text-align', 'left');
    });

     // Move search bar to the left
</script>
{% endblock %}