{% extends "userapp/base.html" %}
{% load static %}
{% block user_details %}
<div id="profile-details-content">
    <h1>Personal Information</h1>
    <form method="post" id="signupForm">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-4">
            <label class="form-label">Name </label>
            {{ form.fullname }}
            {{ form.fullname.errors }}
        </div>
        <div class="mb-3">
            <label class="form-label">Username </label>
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="mb-3">
            <label class="form-label">Mobile Number </label>
            {{ form.mobilephone }}
            {{ form.mobilephone.errors }}
        </div>
        {% if not google_login %}
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            {{ form.email }}
            {{ form.email.errors }}
        </div>
        {% endif %}
        <div class="mb-3 row">
            <div class="col-md-6">
                <button type="submit" id="submit" class="custom-btn-1" style="display: none;">Update Profile</button>
            </div>
            <div class="col-md-6">
                <button type="button" id="cancel" class="custom-btn" style="display: none;">Cancel</button>
            </div>
            <div class="col-md-6">
                <button type="button" id="edit" class="custom-btn">Edit</button>
            </div>
        </div>
    </form>
    <h3 class="mt-5 mb-4">FAQs</h3>
    <div class="accordion" id="faqAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq1">
                    What happens when I update my email address (or mobile number)?
                </button>
            </h2>
            <div id="faq1" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Your login email id (or mobile number) changes, likewise. You'll receive all your account related
                    communication on your updated email address (or mobile number).
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq2">
                    When will my account be updated with the new email address (or mobile number)?
                </button>
            </h2>
            <div id="faq2" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    It happens as soon as you confirm the verification code sent to your email (or mobile) and save the
                    changes.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faq3">
                    What happens to my existing account when I update my email address (or mobile number)?
                </button>
            </h2>
            <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Updating your email address (or mobile number) doesn't invalidate your account. Your account remains
                    fully functional. You'll continue seeing your Order history, saved information and personal details.
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <a href="#" class="btn btn-outline-primary">Deactivate Account</a>
        <a href="#" class="btn btn-outline-danger ms-2">Delete Account</a>
    </div>
</div>

{% endblock %}
{% block adds_js %}
<script src="{% static 'js/validation.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var editButton = document.getElementById('edit');
        var submitButton = document.getElementById('submit');
        var cancelButton = document.getElementById('cancel');

        function toggleForm(editing) {
            var fields = ['fullname', 'username', 'mobilephone'];
            {% if not google_login %}
                fields.push('email');
            {% endif %}
            fields.forEach(function(field) {
                document.getElementById(field).readOnly = !editing;
            });
            submitButton.style.display = editing ? 'block' : 'none';
            cancelButton.style.display = editing ? 'block' : 'none';
            editButton.style.display = editing ? 'none' : 'block';
        }

        editButton.addEventListener('click', function() {
            toggleForm(true);
        });

        cancelButton.addEventListener('click', function() {
            toggleForm(false);
            document.getElementById('fullname').value = '{{ user.fullname }}';
            document.getElementById('username').value = '{{ user.username }}';
            document.getElementById('mobilephone').value = '{{ profile.phone }}';
            {% if not google_login %}
            document.getElementById('email').value = '{{ user.email }}';
            {% endif %}
        });

        toggleForm(false);
    });
</script>
{% endblock %}