{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== FAVICON ===============-->
        <link rel="shortcut icon" href="{% static 'img/favicon.png'%}" type="image/x-icon">

        
        <!--=============== BOXICONS ===============-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

        
        
        <!--=============== CSS ===============-->
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">

        <!--=============== JQUERY ===============-->
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

        <title>Time Craft</title>
        {% block extra_css %}
        {% endblock %}
    </head>
<body>
{% comment %} <!-- <div class="container"> --> {% endcomment %}

    {% block content %}
    {% endblock %}
    

    <div id="custom-alert" class="custom-alert">
        <span id="alert-message"></span>
    </div>
    {% comment %} <!-- </div> --> {% endcomment %}
    <!--=============== SCROLL UP ===============-->

    <a href="#" class="scrollup" id="scroll-up"> 
        <i class='bx bx-up-arrow-alt scrollup__icon' ></i>
    </a>

    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

    <!--=============== Extra JS ===============-->
    {% block extra_js %}
    {% endblock %}
    <!--=============== MAIN JS ===============-->
    <script src="{% static 'js/main.js'%}"></script>
        
    </body>
</html>